<h1>Inventory Management</h1>

<%- include('../partials/messages') %>

<a href="/inv/add-classification">Add New Classification</a> |
<a href="/inv/add-inventory">Add New Vehicle</a>

<h2>Current Inventory</h2>

<%- inventoryList %>
