<% /* Content Heading - Display title if it exists, otherwise redirect home */ %>
<% if (title) { %>
  <h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<% /* Message Block - for future use, currently commented out */ %>
<%# messages() %>

<% /* Inventory Items Display - Render the HTML grid passed from the controller */ %>
<%- grid %>
